{% extends 'admin/change_list.html' %}

{% block object-tools-items %}
    <li>
        <a type="submit" class="grp-state-focus" href="{% url "admin:import-col" %}">Import from COL</a>
    </li>
    {{ block.super }}
{% endblock %}