{% load i18n crispy_forms_tags %}

{% url 'geomap:deployment_bulk_create' as deployments_url  %}

<form action="{{ deployments_url }}" method='post' class="panel-body">
  {% crispy form form.helper %}
  <fieldset>
    <button type="submit" class="btn btn-primary">{% trans "Create deployments" %}</button>
  </fieldset>
</form>
