{% extends "geomap/basemap.html" %}

{% load umap_tags %}
{% load static %}
{% load common_tags %}

{% block title %}{{ map.name }}{% endblock %}
{% block body_class %}map_detail{% endblock %}

{% block header %}
{{ block.super }}
<script>
    if(global === undefined) {
        var global = window;
    }
    global['Translations'] = {% load_frontend_translations LANGUAGE_CODE|escapejs %};
</script>
<link rel="stylesheet" href="{% static "css/vendor.css" %}" />
<link rel="stylesheet" href="{% static "umap/vendors/leaflet/leaflet.css" %}" />
<link rel="stylesheet" href="{% static "umap/vendors/markercluster/MarkerCluster.css" %}" />
<link rel="stylesheet" href="{% static "umap/vendors/markercluster/MarkerCluster.Default.css" %}" />
<link rel="stylesheet" href="{% static "umap/vendors/editinosm/Leaflet.EditInOSM.css" %}" />
<link rel="stylesheet" href="{% static "umap/vendors/minimap/Control.MiniMap.css" %}" />
<link rel="stylesheet" href="{% static "umap/vendors/contextmenu/leaflet.contextmenu.css" %}" />
<link rel="stylesheet" href="{% static "umap/vendors/toolbar/leaflet.toolbar.css" %}" />
<link rel="stylesheet" href="{% static "umap/vendors/measurable/Leaflet.Measurable.css" %}" />
<link rel="stylesheet" href="{% static "umap/vendors/fullscreen/leaflet.fullscreen.css" %}" />
<link rel="stylesheet" href="{% static "umap/base.css" %}" />
<link rel="stylesheet" href="{% static "umap/content.css" %}" />
<link rel="stylesheet" href="{% static "umap/font.css" %}" />
<link rel="stylesheet" href="{% static "umap/map.css" %}" />
<link rel="stylesheet" href="{% static "umap/nav.css" %}" />
<link rel="stylesheet" href="{% static "umap/theme.css" %}" />
<link type="text/css" href="{% static "geomap/css/geomap.css" %}"  media="all" rel="stylesheet" />

{% include "geomap/tags/js.html" %}

<script>
    L.Storage = L.U;
    L.S = L.Storage;
    // console.log(L.U);
</script>

<script src="{% static "js/vendor.js" %}"></script>

<script type="text/javascript" src="{% static "geomap/js/leaflet.storage.monkey_patches.js" %}"></script>
<script type="text/javascript" src="{% static "geomap/js/filterlocationscontrol.js" %}"></script>
<script type="text/javascript" src="{% static "geomap/js/trappermarkercontrol.js" %}"></script>
<script type="text/javascript" src="{% static "utk/utk.min.js" %}"></script>
<script type="text/javascript" src="{% static "list/list.min.js" %}"></script>
<script type="text/javascript" src="{% static "umap/vendors/locatecontrol/L.Control.Locate.js" %}"></script>
<script type="text/javascript" src="{% static "umap/vendors/dompurify/purify.js" %}"></script>
<script type="text/javascript" src="{% static "geomap/js/geomap.js" %}"></script>


<script type="text/javascript">
    var object = "{{ object }}";
  var classification_projects = [
      {% for cp in classification_projects %}
      {
          id: {{cp.id}},
          name: '{{cp.name}}'
      },
      {% endfor %}
  ];
</script>


{% endblock %}

{% block content %}
{% block map_init %}
{% include "geomap/map_init.html" %}
{% endblock %}
{% include "geomap/map_messages.html" %}
{% endblock %}
