{% load i18n %}
{% if not is_readonly %}
<input type="hidden" name="selected_resources" id="resources-pks" autocomplete="off">
<a id="classify" class="btn btn-success">{% trans "Classify" %}</a>
{% if is_project_admin %}
<a id="approve" class="btn btn-primary">{% trans "Approve" %}</a>
{% endif %}
{% endif %}
