{% extends "media_classification/index.html" %}

{% load common_tags %}
{% load user_comments %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block data_app %}classification::bulk{% endblock data_app %}

{% block ng_app %}ng-app="trapperGrid"{% endblock ng_app %}

{% block scripts_append %}
{% endblock scripts_append %}

{% block section_content %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h2 class="panel-title">
          <span class="fa fa-flask"></span> <a href="{% url 'research:project_detail' pk=project.research_project.pk %}">{{ project.research_project.acronym }}</a> >
          <span class="fa fa-cubes"></span> <a href="{% url 'media_classification:project_detail' pk=project.pk %}">{{ project.name }}</a> >
          <span class="fa fa-database"></span> <a href="{% url 'storage:collection_detail' pk=storage_collection.pk %}">{{ storage_collection.name }}</a>
	</h2>
      </div>
    </div>
  </div>
</div>

<div ng-controller="SequenceController"
     ng-init="load('{% url "media_classification:api-classification-resources-list" collection.pk %}?project={{ project.pk }}', '{% url "media_classification:api-sequence-list" %}?collection={{ collection.pk }}', {{ collection.pk }})">
  <!-- res, seq, collection_pk !-->

{% include 'media_classification/classifications/classify/sequence_box_bulk.html' %}


{% endblock section_content %}
