{% load i18n crispy_forms_tags %}

<form action="." method="post" enctype="multipart/form-data" class="panel-body">  
    {% crispy form form.helper %}
    <fieldset>
        <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    </fieldset>
</form>
