{% load i18n crispy_forms_tags %}

<form action="." method="post" class="panel-body">
    {% crispy form form.helper %}
    <fieldset>
        <button type="submit" class="btn btn-primary">{% trans "(Re)build sequences" %}</button>
    </fieldset>
</form>
