{% load i18n %}

{#- Confidence -> albo lista co 0.05 albo liczba do wpisania; zakres 0-1#}

<div class="form-group form-filter">
    <label for="type" class="control-label">{% trans "File type" %}</label>
    <select
            id="type"
            class="form-control"
            filter-text="ftype"
            filter-service="filter"
            ng-model="filters.ftype"
            ng-options="option.value as option.label for option in optionList.media">
    </select>
</div>

<div class="form-group form-filter">
    <label for="approved" class="control-label">{% trans "Approved" %}</label>
    <select
            id="approved"
            class="form-control"
            filter-text="approved"
            filter-service="filter"
            ng-model="filters.approved"
            ng-options="option.value as option.label for option in optionList.bool">
    </select>
</div>

<div class="form-group form-filter">
    <label for="bboxes" class="control-label">{% trans "Bboxes" %}</label>
    <select
            id="bboxes"
            class="form-control"
            filter-text="bboxes"
            filter-service="filter"
            ng-model="filters.bboxes"
            ng-options="option.value as option.label for option in optionList.bool">
    </select>
</div>

{% for definition in grid_context.filters %}
    {% if definition.tag %}
        <div class="form-group form-filter">
            <label for="{{ definition.name }}" class="control-label" title="{{ definition.label }}">
                {% trans definition.label|truncatechars:12 %}
            </label>
            <{{ definition.tag.name }}
            id="{{ definition.name }}"
            class="form-control"
            filter-text="{{ definition.name }}"
            filter-service="filter"
            ng-model="filters['{{ definition.name }}']"
            {% if definition.values %}
                ng-options="option.value as option.label for option in [{% for val, label in definition.values %}
                {'label': '{{ label }}', 'value': '{{ val }}'}{% if not forloop.lat %},{% endif %}{% endfor %}]"
            {% endif %}
            {% if definition.tag.is_block %}>
                </{{ definition.tag.name }}>
            {% else %}
                />
            {% endif %}
        </div>
    {% endif %}
{% endfor %}

<div class="form-group form-filter-full">
    <label for="collections" class="control-label">{% trans "AI Providers" %}</label>
    <select
            type="text"
            id="ai_providers"
            class="select2-default"
            multiple
            ng-model="filters.ai_provider"
            filter-tokens="ai_provider.name"
            filter-service="filter">
        {% for ai_provider in grid_context.ai_providers %}
            <option value="{{ ai_provider.0 }}">{{ ai_provider.1 }}</option>
        {% endfor %}
    </select>
</div>

<div class="form-group form-filter-full">
    <label for="collections" class="control-label">{% trans "Collections" %}</label>
    <select
            type="text"
            id="collection"
            class="select2-default"
            multiple
            ng-model="filters.collection"
            filter-tokens="collection.name"
            filter-service="filter">
        {% for collection in grid_context.collections %}
            <option value="{{ collection.0 }}">{{ collection.1 }}</option>
        {% endfor %}
    </select>
</div>

<div class="form-group form-filter-full">
    <label for="deployments" class="control-label">{% trans "Deployments" %}</label>
    <input
            type="text"
            class="select2ajax"
            multiple="true"
            id="deployment"
            ng-model="filters.deployment"
            filter-tokens="deployment"
            filter-api-url='{% url "geomap:api-deployment-list" %}?classification_project={{ grid_context.project.pk }}'
            filter-text-label="deployment_id"
            filter-id-label="pk"
            filter-multiple="true"
            filter-service="filter">
</div>

<div class="form-group form-filter-full">
    <label for="species" class="control-label">{% trans "Species" %}</label>
    <input
            type="text"
            class="select2ajax"
            multiple="true"
            id="species"
            ng-model="filters.species"
            filter-tokens="species"
            filter-api-url='{% url "extra_tables:api-species-list" %}'
            filter-text-label="__str__"
            filter-id-label="pk"
            filter-multiple="true"
            filter-service="filter">
</div>

<div class="form-group form-filter-full">
    <label for="confidence" class="control-label">{% trans "Confidence" %}</label>
    <input
            id="confidence"
            class="form-control"
            min="0"
            max="1"
            step="0.01"
            type="number"
            ng-model="filters.confidence"
            filter-text="confidence"
            filter-service="filter"
    >
</div>