{% load i18n crispy_forms_tags %}

<form action="" method="post" enctype="multipart/form-data" class="panel-body">
  <p class="alert alert-warning">
    <span class="fa fa-info"></span>
    Using this action you can send the basic classification data (e.g. observation type, species, sex, age, count) back to your original resources. 
    You have to be an owner or a manager of each selected resource to be able to update it. Optionally, you can also assign custom tags to your
    resources with values taken from the custom attributes.
  </p>
  {% crispy form form.helper %}
  <fieldset>
    <button type="submit" class="btn btn-primary">{% trans "Run" %}</button>
  </fieldset>
</form>
