{% extends "common/grid.html" %}

{% load i18n %}

{% block breadcrumbs %}
    {% if not grid_context.classification_overview %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <span class="fa fa-flask"></span>
                            <a href="{% url 'research:project_detail' pk=grid_context.project.research_project.pk %}">
                                {{ grid_context.project.research_project.acronym }}
                            </a>
                            >
                            <span class="fa fa-cubes"></span>
                            <a href="{% url 'media_classification:project_detail' pk=grid_context.project.pk %}">
                                {{ grid_context.project.name }}
                            </a>
                            >
                            <strong>{% trans "Results" %}</strong>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block filters %}

<div class="form-group form-filter">
  <label for="type" class="control-label">{% trans "File type" %}</label>
  <select
     id="type"
     class="form-control"
     filter-text="ftype"
     filter-service="filter"
     ng-model="filters.ftype"
     ng-options="option.value as option.label for option in optionList.media">
  </select>
</div>

{% for definition in grid_context.filters %}
  {% if definition.tag %}
  <div class="form-group form-filter">
    <label for="{{ definition.name }}" class="control-label" title="{{ definition.label }}">
      {% trans definition.label|truncatechars:12  %}
    </label>
    <{{ definition.tag.name }}
        id="{{ definition.name }}"
        class="form-control"
        filter-text="{{ definition.name }}"
        filter-service="filter"
        ng-model="filters['{{ definition.name }}']"
        {% if definition.values %}
        ng-options="option.value as option.label for option in [{% for val, label in definition.values %}{'label': '{{ label }}', 'value': '{{ val }}'}{% if not forloop.lat %},{% endif %}{% endfor %}]"
        {% endif %}
    {% if definition.tag.is_block %}>
      </{{ definition.tag.name }}>
    {% else %}
      />
    {% endif %}
  </div>
  {% endif %}
{% endfor %}

<div class="form-group form-filter">
  <label for="status" class="control-label">{% trans "Approved" %}</label>
  <select
     id="status"
     class="form-control"
     filter-text="status"
     filter-service="filter"
     ng-model="filters.status"
     ng-options="option.value as option.label for option in optionList.bool">
  </select>
</div>

<div class="form-group form-filter">
  <label for="classified" class="control-label">{% trans "Classified" %}</label>
  <select
     id="classified"
     class="form-control"
     filter-text="classified"
     filter-service="filter"
     ng-model="filters.classified"
     ng-options="option.value as option.label for option in optionList.bool">
  </select>
</div>

<div class="form-group form-filter">
  <label for="bboxes" class="control-label">{% trans "Bboxes" %}</label>
  <select
     id="bboxes"
     class="form-control"
     filter-text="bboxes"
     filter-service="filter"
     ng-model="filters.bboxes"
     ng-options="option.value as option.label for option in optionList.bool">
  </select>
</div>

<div class="form-group form-filter">
  <label for="classified" class="control-label">{% trans "Classified AI" %}</label>
  <select
     id="classified_ai"
     class="form-control"
     filter-text="classified_ai"
     filter-service="filter"
     ng-model="filters.classified_ai"
     ng-options="option.value as option.label for option in optionList.bool">
  </select>
</div>

<div class="form-group form-filter">
  <label for="classified" class="control-label">{% trans "Approved AI" %}</label>
  <select
     id="status_ai"
     class="form-control"
     filter-text="status_ai"
     filter-service="filter"
     ng-model="filters.status_ai"
     ng-options="option.value as option.label for option in optionList.bool">
  </select>
</div>

<div class="form-group form-filter form-datepicker">
  <label class="control-label">{% trans "Rec. date" %}</label>
  <div class="input-group input-daterange"
       filter-daterange="filters.rdate"
       filter-name="'resource.rdate'"
       filter-service="filter">
    <input
       type="text"
       class="form-control"
       placeholder={% trans "from" %}
       >
    <span class="input-group-addon">
      <span class="fa fa-calendar"></span>
    </span>
    <input
       type="text"
       class="form-control"
       placeholder={% trans "to" %}
       >
  </div>
</div>

<div class="form-group form-filter form-datepicker">
  <label
    class="control-label"
        title='{% trans "This filter always assumes that times are provided in UTC." %}'>
    {% trans "Rec. time" %}
  </label>
  <div class="input-group input-daterange"
       filter-timerange="filters.rtime"
       filter-name="'resource.rtime'"
       filter-service="filter">
    <input
       type="text"
       class="form-control"
       placeholder={% trans "from" %}
       >
    <span class="input-group-addon">
      <span class="fa fa-clock-o"></span>
    </span>
    <input
       type="text"
       class="form-control"
       placeholder={% trans "to" %}
       >
  </div>
</div>

{% if not grid_context.classification_overview %}
    <div class="form-group form-filter-full">
      <label for="collections" class="control-label">{% trans "Collections" %}</label>
      <select
         type="text"
         id="collection"
         class="select2-default"
         multiple
         ng-model="filters.collection"
         filter-tokens="collection.name"
         filter-service="filter">
        {% for collection in grid_context.collections %}
        <option value="{{ collection.0 }}">{{ collection.1 }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group form-filter-full">
      <label for="deployments" class="control-label">{% trans "Deployments" %}</label>
      <input
         type="text"
         class="select2ajax"
         multiple="true"
         id="deployment"
         ng-model="filters.deployment"
         filter-tokens="deployment"
         filter-api-url='{% url "geomap:api-deployment-list" %}?classification_project={{ grid_context.project.pk }}'
         filter-text-label="deployment_id"
         filter-id-label="pk"
         filter-multiple="true"
         filter-service="filter">
      </input>
    </div>
{% endif %}

<div class="form-group form-filter-full">
  <label for="species" class="control-label">{% trans "Species" %}</label>
  <input
     type="text"
     class="select2ajax"
     multiple="true"
     id="species"
     ng-model="filters.species"
     filter-tokens="species"
     filter-api-url='{% url "extra_tables:api-species-list" %}'
     filter-text-label="__str__"
     filter-id-label="pk"
     filter-multiple="true"
     filter-service="filter">
  </input>
</div>

{% endblock %}

{% block my_objects %}
{% if user.is_authenticated %}
<button
   type="button"
   class="btn btn-default"
   ng-class="{ active: filters.owner }"
   ng-model="filters.owner"
   ng-init="filters.owner = false"
   ng-click="filterOwner()"
   filter-checkbox="{ name: 'owner', value: '{{ user.pk }}' }"
   filter-service="filter">{% trans "My resources" %}</button>
{% endif %}
{% endblock %}

{% block custom_actions %}
    {% if not grid_context.classification_overview %}
    {% if grid_context.is_admin %}
        <action-create-collection ng-disabled="!data.selectedCounter"
                                  ng-click="execute('{% url "storage:collection_create" %}','media_classification')">
        </action-create-collection>
        <action-resource-feedback ng-disabled="!filters.owner"
                                  ng-click="execute('{% url "media_classification:classification_feedback" pk=grid_context.project.pk %}')">
        </action-resource-feedback>
    {% endif %}
    {% url 'geomap:map_view' as new_map_url %}
    <action-show-map data-type="classifications" data-url="{{ new_map_url }}" data-field="pk">
        <select>
            <option value="{{ new_map_url }}" selected>{% trans "New map" %}</option>
            {% for map in grid_context.maps %}
                <option value="{% url 'geomap:map' slug=map.slug pk=map.pk %}">{{ map }}</option>
            {% endfor %}
        </select>
    </action-show-map>
    <action-export-with-filters ng-click="execute('{% url "media_classification:api-classification-results" project_pk=grid_context.project.pk %}')">
    </action-export-with-filters>
    {% endif %}
{% endblock %}

{% block custom_actions_list %}

{% if grid_context.is_admin and not grid_context.classification_overview %}
    <li>
        <action-classify-ai
                ng-click="execute($event, '{% url "media_classification:classify_ai" pk=grid_context.project.pk obj="classification" %}')">
        </action-classify-ai>
    </li>
    <li>
        <action-export-with-filters-aggregate
                ng-click="execute('{% url "media_classification:classification_export_agg" pk=grid_context.project.pk %}')">
        </action-export-with-filters-aggregate>
    </li>
    <li>
        <action-addto-collection ng-click="execute($event, '{% url "media_classification:collection_append" %}')">
        </action-addto-collection>
    </li>
    <li>
        <action-bulk-update ng-click="execute('{% url "media_classification:classification_bulk_update" %}')">
        </action-bulk-update>
    </li>
    <li>
        <action-remove-selected
                ng-click="execute($event, '{% url "media_classification:classification_delete_multiple" %}')">
        </action-remove-selected>
    </li>

{% endif %}
{% endblock %}

{% block exclude_column_headers %}
    {% if grid_context.classification_overview %}
        ng-if="column != 'Actions' && column != 'Classify'"
    {% else %}
        ng-if="column != 'Classification project'"
    {% endif %}
{% endblock %}

{% block table_cells %}

<td data-title="'Thumbnail'">
  <div
    ng-if="record.resource.resource_type == 'I'"
    data-src="{[{ record.resource.url }]}"
    class="img-thumbnail"
    ng-click="openGallery($event)"
    title="{[{ record.resource.name }]}">
    <img ng-src="{[{ record.resource.thumbnail_url }]}"/>
  </div>
  <div ng-if="record.resource.resource_type == 'V'" style="display:none;" id="video{[{ $index }]}">
    <video class="lg-video-object lg-html5 video-js" controls preload="none">
      <source src="{[{ record.resource.url }]}#t=0.1" type="{[{ record.resource.mime }]}">
    </video>
  </div>
  <div
    ng-if="record.resource.resource_type == 'V'"
    data-html="#video{[{ $index }]}"
    class="img-thumbnail"
    ng-click="openGallery($event)"
    title="{[{ record.resource.name }]}">
    <img ng-src="{[{ record.resource.thumbnail_url }]}"/>
  </div>
</td>
<td data-title="'Type'" sortable="'resource.resource_type'" ng-bind-html="record.resource.resource_type | typesIcon"></td>
<td data-title="'Name'" sortable="'resource.name'">{[{ record.resource.name }]}</td>
{% if grid_context.classification_overview %}
    <td data-title="'Classification project'">{[{ record.classification_project }]}</td>
{% endif %}
<td data-title="'Date recorded'" sortable="'date_recorded'">{[{ record.resource.date_recorded | dateTZ: dateFormat.table }]}</td>
<td data-title="'Approved'" ng-bind-html="(record.status | classifiedIcons) + (record.status_ai | classifiedAIIcons)"></td>
<td data-title="'Classified'" sortable="'classified'" ng-bind-html="(record.classified | classifiedIcons) + (record.classified_ai | classifiedAIIcons)"></td>
<td data-title="'Attributes'">
  <!-- ng-show="showTags" -->
<div class="tags-list">
    <span ng-if="record.status">
        <h6>{% trans "Approved classification" %}</h6>
        <span ng-repeat="dynamic_attr in record.dynamic_attrs">
            <span ng-repeat="(label, tag) in dynamic_attr">
                <span class="label label-success" title="{[{ tag }]}"
                      ng-if="label != 'annotations' && label != 'comments'">
                    {[{ label }]}: {[{ tag }]}
                </span>
            </span>
        </span>
    </span>
    <span ng-if="record.status_ai">
        <h6>{% trans "Approved AI classification" %}</h6>
        <span ng-repeat="dynamic_attr in record.dynamic_attrs_ai">
            <span ng-repeat="(label, tag) in dynamic_attr">
                <span class="label label-info" title="{[{ tag }]}">
                    {[{ label }]}: {[{ tag }]}
                </span>
            </span>
        </span>
    </span>
</div>

</td>

{% endblock %}

{% block table_cells_extra_actions %}
    {% if not grid_context.classification_overview %}
        <td>
            <action-classify
                    ng-click="execute($event, record,
                            {{ grid_context.project.deployment_based_nav|yesno:'true,false'}})">
            </action-classify>
            <a
                    ng-href="/media_classification/classify/bbox/{[{ record.pk }]}/"
                    ng-if="record.dynamic_attrs != '' && record.resource.resource_type == 'I'"
                    class="btn btn-xs btn-success"
                    title="Draw/edit bounding boxes"
                    target="_blank">
                <span class="fa fa-hand-pointer-o"></span>
            </a>
        </td>
    {% endif %}
{% endblock %}
