{% load static %}

<script src="{% static "umap/vendors/leaflet/leaflet-src.js" %}"></script>
<script src="{% static "umap/vendors/editable/Path.Drag.js" %}"></script>
<script src="{% static "umap/vendors/editable/Leaflet.Editable.js" %}"></script>
<script src="{% static "umap/vendors/hash/leaflet-hash.js" %}"></script>
<script src="{% static "umap/vendors/i18n/Leaflet.i18n.js" %}"></script>
<script src="{% static "umap/vendors/editinosm/Leaflet.EditInOSM.js" %}"></script>
<script src="{% static "umap/vendors/minimap/Control.MiniMap.js" %}"></script>
<script src="{% static "umap/vendors/csv2geojson/csv2geojson.js" %}"></script>
<script src="{% static "umap/vendors/togeojson/togeojson.js" %}"></script>
<script src="{% static "umap/vendors/osmtogeojson/osmtogeojson.js" %}"></script>
<script src="{% static "umap/vendors/loading/Control.Loading.js" %}"></script>
<script src="{% static "umap/vendors/markercluster/leaflet.markercluster-src.js" %}"></script>
<script src="{% static "umap/vendors/contextmenu/leaflet.contextmenu.js" %}"></script>
<script src="{% static "umap/vendors/photon/leaflet.photon.js" %}"></script>
<script src="{% static "umap/vendors/georsstogeojson/GeoRSSToGeoJSON.js" %}"></script>
<script src="{% static "umap/vendors/heat/leaflet-heat.js" %}"></script>
<script src="{% static "umap/vendors/fullscreen/Leaflet.fullscreen.js" %}"></script>
<script src="{% static "umap/vendors/toolbar/leaflet.toolbar-src.js" %}"></script>
<script src="{% static "umap/vendors/formbuilder/Leaflet.FormBuilder.js" %}"></script>
<script src="{% static "umap/vendors/measurable/Leaflet.Measurable.js" %}"></script>
<script src="{% static "umap/vendors/togpx/togpx.js" %}"></script>
<script src="{% static "umap/vendors/tokml/tokml.js" %}"></script>
{% if locale %}
    {% with "umap/locale/"|add:locale|add:".js" as locale_file %}
        <script src="{% static locale_file %}"></script>
    {% endwith %}
{% endif %}

<script src="{% static "umap/js/umap.core.js" %}"></script>
<script src="{% static "umap/js/umap.autocomplete.js" %}"></script>
<script src="{% static "umap/js/umap.popup.js" %}"></script>
<script src="{% static "umap/js/umap.xhr.js" %}"></script>
<script src="{% static "umap/js/umap.forms.js" %}"></script>
<script src="{% static "umap/js/umap.icon.js" %}"></script>
<script src="{% static "umap/js/umap.features.js" %}"></script>
<script src="{% static "umap/js/umap.layer.js" %}"></script>
<script src="{% static "umap/js/umap.controls.js" %}"></script>
<script src="{% static "umap/js/umap.slideshow.js" %}"></script>
<script src="{% static "umap/js/umap.tableeditor.js" %}"></script>
<script src="{% static "umap/js/umap.permissions.js" %}"></script>
<script src="{% static "umap/js/umap.js" %}"></script>
<script src="{% static "umap/js/umap.ui.js" %}"></script>