{% load i18n crispy_forms_field %}
{% if field.is_hidden %}
	{{ field }}
{% else %}
    {% if field|is_checkbox %}
        <div class="form-group">
    {% endif %}
	<{% if tag %}{{ tag }}{% else %}div{% endif %} id="div_{{ field.auto_id }}" {% if not field|is_checkbox %}class="form-group{% else %}class="checkbox{% endif %}{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if form_show_errors%}{% if field.errors %} has-error{% endif %}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}{% if field.field.required %} form-required{% endif %}">
		{% if field.label and not field|is_checkbox and form_show_labels %}
			<label for="{{ field.id_for_label }}" class="control-label {{ field.field.label_css }}">
				{{ field.label|safe }}
			</label>
		{% endif %}

        {% if field|is_checkboxselectmultiple %}
            {% include 'bootstrap3/layout/checkboxselectmultiple.html' %}
        {% endif %}

        {% if field|is_radioselect %}
            {% include 'bootstrap3/layout/radioselect.html' %}
        {% endif %}

        {% if not field|is_checkboxselectmultiple and not field|is_radioselect %}
            {% if field|is_checkbox and form_show_labels %}
                {% if label_class %}
                    <div class="controls col-lg-offset-{{ label_size }} {{ field_class }}">
                {% endif %}
                <label for="{{ field.id_for_label }}" class="{% if field.field.required %} requiredField{% endif %} {{ field.field.label_css }}">
                    {% crispy_field field 'class' 'checkbox' %}
                    {{ field.label|safe }}
                    {% include 'bootstrap3/layout/help_text_and_errors.html' %}
                </label>
                {% if label_class %}
                    </div>
                {% endif %}
            {% else %}
                {% if field|is_file %}

                <div class="input-group file-group">

                  <input type="text" readonly="" class="form-control" value="{{ field.value|default:"" }}">

                  <label for="{{ field.id_for_label }}">{{ field.name }}</label>
                  <input type="file" name="{{ field.html_name }}" id="{{ field.auto_id }}">

                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><span class="fa fa-folder-open-o"></span>{% trans " Select file" %}</button>
                  </span>
                </div>
                {% include 'bootstrap3/layout/help_text_and_errors.html' %}
                {% else %}
                <div class="controls {{ field_class }}">
                    {% crispy_field field %}
                    {% include 'bootstrap3/layout/help_text_and_errors.html' %}
                </div>
                {% endif %}
            {% endif %}
        {% endif %}
	</{% if tag %}{{ tag }}{% else %}div{% endif %}>
    {% if field|is_checkbox %}
        </div>
    {% endif %}
{% endif %}

