{% extends "common/grid.html" %}

{% load i18n %}

{% block my_objects %}
    {% if user.is_authenticated %}
        <button
                type="button"
                title="{% trans "When switched-on the grid displays only these items that you can edit." %}"
                class="btn btn-default"
                ng-class="{ active: filters.owner }"
                ng-model="filters.owner"
                ng-init="filters.owner = true"
                ng-click="filterOwner(filters.owner)"
                filter-checkbox="{ name: 'owner', value: '{{ user.pk }}' }"
                filter-service="filter">{% trans "My research projects" %}
        </button>
    {% endif %}
{% endblock %}

{% block filters %}

<div class="form-group form-filter-full">
  <label for="keywords" class="control-label">{% trans "Keywords" %}</label>
  <select
     type="text"
     id="keywords"
     class="select2-default"
     multiple
     ng-model="filters.keywords"
     filter-tokens="keywords"
     filter-service="filter">
    {% for keyword in grid_context.keywords %}
    <option value="{{ keyword.0 }}">{{ keyword.1 }}</option>
    {% endfor %}
  </select>
</div>

{% endblock %}

{% block custom_actions %}
{% endblock%}

{% block custom_actions_list %}

<li ng-class="{'disabled': !filters.owner}">
  <action-remove-selected ng-click="execute($event, '{% url "research:project_delete_multiple" %}')">
  </action-remove-selected>
</li>

{% endblock %}

{% block table_cells %}

<td data-title="'Name'" sortable="'name'">{[{ record.name }]}</td>
<td data-title="'Acronym'" sortable="'name'">{[{ record.acronym }]}</td>
<td data-title="'Keywords'">
  <div class="tags-list">
    <span ng-repeat="keyword in record.keywords" class="label label-default">{[{ keyword }]}</span>
  </div>
</td>

{% endblock %}

{% block table_cells_extra_actions %}
{% endblock %}

